@charset "UTF-8";
body {
    font-family: 'Josefin Sans', 'TsukuARdGothic-Regular', sans-serif;
    font-weight: bold;
    color: #707070;
    background:#eee;
}

.title {
    font-size: 10vw;
    margin-left: 6vw;
    margin-top: 8vw;
}

#fukuoka {
    color: #FFD35B;
}

#osaka {
    color: #7FA2E9;
}

#date {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/*tabの形状*/
.tab{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tab li {
    width: 20%;
}

.tab li a{
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 48px;
  margin: 0;
}

.fukuoka_tab {
    background-color: #ffd35b86;
}

.osaka_tab {
    background-color: #7fa2e985;
}

/*liにactiveクラスがついた時の形状*/
.fukuoka_tab.active a{
  background-color:#FFD35B;
}

.osaka_tab.active a{
    background-color: #7FA2E9;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: white;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*========= レイアウトのためのCSS ===============*/


ul{
  list-style:none;
}

li a{
  color: white;
  text-decoration: none;
}

.wrapper{
    width:100%;
    margin:30px auto;
}


.event {
    position: relative;
    width: 100%;
}



.picture {
    position: relative;
    width: 100%;
}

.rental {
    width: 100%;
    height: 20vw;
    background-color: #FFD35B;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.circle {
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 8vw;
    height: 8vw;
}

.first-line {
    position: absolute;
    width: 95%;
    height: 90%;
    top: 10%;
    left: 8.5%;
    border-left:5px solid #EEEEEE; /*線の設定*/
}

.line {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    left: 8.5%;
    border-left:5px solid #EEEEEE; /*線の設定*/
}

.time {
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 8vw;
    color: white;
}

.event-title {
    position: absolute;
    bottom: 10%;
    left: 15%;
    font-family: 'A1 Gothic M', sans-serif;
    font-size: 5vw;
    color: white;
}

.caption {
    width: 90%;
    height: 20vw;
    bottom: 5vw;
    padding: 15px 5px;
    text-align: right;
    margin-right: 5%;
    color:#707070;
}

.caption a {
    text-decoration: underline;
}

